
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #000;
    margin-left:50px;
}

.text-primary {
    color: #FD6E0A;
}
nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.dark-2 {
    color: #474747;
}
nav ul li a:hover {
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Header styles */
.header {
    background-image: url("../web_portfolio/images/developer.png"), url("../web_portfolio/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain, auto; /* Keep header_bg.png at its original size */
    background-origin: border-box;
    background-clip: border-box;
    min-height: 400px; /* Adjust as needed for your layout */
}

/*banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greeting {
    margin-top: 45px;
    font-weight: 600;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
}
.banner-content {
    max-width: 580px;
}








/* Footer styles */





footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
    font-size: 14px;
    z-index: 100;
}